.header {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #4f46e5;
  .header-nav {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .header-nav-item {
      color: white;
      font-size: 17px;
      text-transform: uppercase;
      font-weight: 700;
      cursor: pointer;
    }
  }
  .header-usuario {
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
    position: absolute;
    left: 1%;
  }
}
